In [58]:
import pandas as pd
import numpy as np
import yfinance as yf
from helpers import get_data, get_us_tickers





tickers = get_us_tickers()

In [59]:
tickers.shape

(11679, 5)

In [60]:
tickers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11679 entries, 0 to 11678
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Symbol           5032 non-null   object
 1   Security Name    11677 non-null  object
 2   Exchange         6645 non-null   object
 3   ETF              11669 non-null  object
 4   Market Category  5032 non-null   object
dtypes: object(5)
memory usage: 456.3+ KB

In [61]:
tickers.head()

  Symbol                                      Security Name  ... ETF Market Category
0   AACB  Artius II Acquisition Inc. - Class A Ordinary ...  ...   N               G
1  AACBR                Artius II Acquisition Inc. - Rights  ...   N               G
2  AACBU                 Artius II Acquisition Inc. - Units  ...   N               G
3   AACG  ATA Creativity Global - American Depositary Sh...  ...   N               S
4   AACI  Armada Acquisition Corp. II - Class A Ordinary...  ...   N               G

[5 rows x 5 columns]

In [72]:
tickers.to_csv("./data/raw/tickers.csv", index=False)

In [75]:
tick = tickers['symbol'].to_list()